@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

.clippPlayer {
  font-family: 'Roboto Condensed', sans-serif;
  width: 93%;
  display: inline-block;
  text-align: center;
  margin: 2em auto;
  padding: 0 0 0 40px;
  font-size: 2em;

  .button {
    display: inline-block;
    float: left;
    color: #FFF;
    background: #FDBB2D;
    border: 1px solid #FFF;
    border-radius: 30px;
    margin: -5px 0 0 -65px;
    padding: 10px 15px;

    .play {
      margin: 0 -4px 0 4px;
    }
  }

  .counter {
    display: inline-block;
    float: right;
    font-size: 28px;
    width: 40px;
    margin: -42px -40px 0 0;
  }
}
