@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

.clippPlayer {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 2em auto;
  padding: 4px 15px 0 40px;

  .inner {
    display: inline-block;
    width: 88%;
    margin-top: -25px;
  }

  .button {
    display: inline-block;
    float: left;
    color: #FFF;
    background: rgb(129, 116, 239);
    border: 1px solid #FFF;
    border-radius: 30px;
    margin: -3px 0 0 -40px;
    padding: 17px 20px;
    font-size: 21px;
    cursor: pointer;

    .play {
      margin: 0 -3px 0 3px;
    }

    &:hover {
      background: rgba(129, 116, 239, .85) !important;
    }
  }

  .wave {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .counter {
    display: inline-block;
    width: 5%;
    float: right;
    font-size: 28px;
    margin: 9px 8px 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
